@page "/"

@using Microsoft.AspNetCore.Http

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<SimpleComponent Text="This is some text" Foo="Bar" />

<Clock Time="@DateTime.Now.TimeOfDay" />

<button @onclick="() => GoToPage(1)">Navigate to 1</button>

<p>
    Timer:
    <input type="text" @bind="TextValue" />
</p>

<Timer Delay="@TimeSpan.FromSeconds(5)" OnElapsed="OnTick" Repeat="true" />

@code
{
    public string TextValue { get; set; }

    void OnTick()
    {
        //timer fired
        TextValue = $"Timer fired at {DateTime.Now}";
        this.InvokeAsync(() => this.StateHasChanged());
    }
}


<ContainerComponent>
    this is some HTML
</ContainerComponent>

@code
{

    [Inject]
    public NavigationManager NavigationManager { get; set; }


    [Inject]
    public IHttpContextAccessor HttpContextAccessor { get; set; }

    HttpContext HttpContext => HttpContextAccessor.HttpContext;

    void GoToPage(int page)
    {
        NavigationManager.NavigateTo($"Page/{page}", forceLoad: false);
    }
}
