@using chapter02
@using Microsoft.Extensions.Options
@using Microsoft.FeatureManagement

@inject IOptions<LoggingSettings> LoggingSettings
@inject IFeatureManager FeatureManager

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Default log level: @LoggingSettings.Value.LogLevel["Default"]</h1>

    @if (await FeatureManager.IsEnabledAsync("MyFeature"))
    {
        <p>MyFeature is enabled!</p>
    }
</body>
</html>
