################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


Chapter01/.vs
Chapter01/obj
Chapter01/bin

Chapter02/.vs
Chapter02/obj
Chapter02/bin

Chapter03/.vs
Chapter03/bin
Chapter03/obj

Chapter04/.vs
Chapter04/bin
Chapter04/obj

Chapter05/.vs
Chapter05/bin
Chapter05/obj

Chapter06/.vs
Chapter06/bin
Chapter06/obj

Chapter07/.vs
Chapter07/bin
Chapter07/obj

Chapter08/.vs
Chapter08/bin
Chapter08/obj

Chapter09/.vs
Chapter09/bin
Chapter09/obj

Chapter09/ClassLibrary/bin
Chapter09/ClassLibrary/obj
Chapter09/RazorClassLibrary/bin
Chapter09/RazorClassLibrary/obj

Chapter10/.vs
Chapter10/bin
Chapter10/obj

Chapter11/.vs
Chapter11/bin
Chapter11/obj

Chapter12/.vs
Chapter12/bin
Chapter12/obj

Chapter13/.vs
Chapter13/bin
Chapter13/obj

Chapter13/UnitTests/bin
Chapter13/UnitTests/obj

Chapter14/.vs
Chapter14/bin
Chapter14/obj
Chapter14/node_modules

Chapter15/.vs
Chapter15/bin
Chapter15/obj

Chapter16/.vs
Chapter16/bin
Chapter16/obj
Chapter16/node_modules

Chapter17/.vs
Chapter17/bin
Chapter17/obj

Chapter18/.vs
Chapter18/bin
Chapter18/obj

Chapter19/.vs
Chapter19/bin
Chapter19/obj



Chapter13/UnitTests/bin
Chapter13/UnitTests/obj

Chapter14/.vs
Chapter14/bin
Chapter14/obj
Chapter14/node_modules

Chapter15/.vs
Chapter15/bin
Chapter15/obj

Chapter16/.vs
Chapter16/bin
Chapter16/obj
Chapter16/node_modules

Chapter17/.vs
Chapter17/bin
Chapter17/obj

Chapter18/.vs
Chapter18/bin
Chapter18/obj

Chapter19/.vs
Chapter19/bin
Chapter19/obj

/code/BookShop
*.user
*.suo
