################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/code/chapter01/.vs
/code/chapter01/obj
/code/chapter01/bin

/code/chapter02/.vs
/code/chapter02/obj
/code/chapter02/bin

/code/chapter03/.vs
/code/chapter03/bin
/code/chapter03/obj

/code/chapter04/.vs
/code/chapter04/bin
/code/chapter04/obj

/code/chapter05/.vs
/code/chapter05/bin
/code/chapter05/obj

/code/chapter06/.vs
/code/chapter06/bin
/code/chapter06/obj

/code/chapter07/.vs
/code/chapter07/bin
/code/chapter07/obj

/code/chapter08/.vs
/code/chapter08/bin
/code/chapter08/obj

/code/chapter09/.vs
/code/chapter09/bin
/code/chapter09/obj

/code/chapter09/ClassLibrary/bin
/code/chapter09/ClassLibrary/obj
/code/chapter09/RazorClassLibrary/bin
/code/chapter09/RazorClassLibrary/obj

/code/chapter10/.vs
/code/chapter10/bin
/code/chapter10/obj

/code/chapter11/.vs
/code/chapter11/bin
/code/chapter11/obj

/code/chapter12/.vs
/code/chapter12/bin
/code/chapter12/obj

/code/chapter13/.vs
/code/chapter13/bin
/code/chapter13/obj

/code/chapter13/UnitTests/bin
/code/chapter13/UnitTests/obj

/code/chapter14/.vs
/code/chapter14/bin
/code/chapter14/obj
/code/chapter14/node_modules

/code/chapter15/.vs
/code/chapter15/bin
/code/chapter15/obj

/code/chapter16/.vs
/code/chapter16/bin
/code/chapter16/obj
/code/chapter16/node_modules

/code/chapter17/.vs
/code/chapter17/bin
/code/chapter17/obj

/code/chapter18/.vs
/code/chapter18/bin
/code/chapter18/obj

/code/chapter19/.vs
/code/chapter19/bin
/code/chapter19/obj

/code/BookShop
*.user
*.suo
