@model chapter06.Models.ContactModel

<div asp-validation-summary="All"></div>

@using (Html.BeginForm("Create", "Home"))
{
    @Html.EditorForModel()

    <fieldset name="Location">
        @Html.EditorFor(x => x.Location)
    </fieldset>
    <button>Submit</button>
}