@page
@model chapter11.Pages.HelloWorldModel
<!DOCTYPE html>
<html>
<head>
    <title>Hello World</title>
</head>
<body>
    <h1>@Html.Raw("Hello, World!")</h1>
    <p>Message: @Model.Message</p>
</body>
</html>